.search__container{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

.search__input_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search__input{
    width: 90%;
    height: 40px;
    outline: none;
    background-color: var(--dark);
    border: 2px solid var(--teal);
    font-family: var(--fredoka);
    color: var(--white);
    padding: 0 0.5rem;
}

.search__btn{
    width: 50px;
    height: 40px;
    color: var(--teal);
    outline: none;
    border: none;
    background-color: var(--dark);
    cursor: pointer;
}

@keyframes scaled {
    0%{ transform: scale(0.7); }
    50%{ transform: scale(1.4); }
    100%{ transform: scale(1); }
}

@media screen and (min-width: 700px){
    .search__container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
    .search__input_div{
        width: 60%;
    }

    .search__btn > svg{
        transition: all 0.3s ease-in-out;
    }

    .search__btn:hover > svg{
        animation: scaled linear 0.5s;
    }
}