.GridLayout__container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap:2rem 5px;
}

@media screen and (min-width: 700px) {
    .GridLayout__container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
