.aside__section{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.aside__title{
    font-family: var(--share);
    font-size: 1.2rem;
    padding: 0.2rem;
    color: var(--teal);
}

.aside__section_cards{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 700px) {
    .aside__title{
        font-family: var(--share);
        font-size: 1.5rem;
    }
}