.cardlsider{
    width: 100%;
    height: 250px;
    position: relative;
}

.cardslider__scrollable{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.cardslider__scrollable::-webkit-scrollbar{
    display: none;
}

.cardlsider__leftbtn, .cardlsider__rightbtn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: var(--dark);
    outline: none;
    border: none;
    color: var(--teal);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.cardlsider__leftbtn:hover, .cardlsider__rightbtn:hover{
    box-shadow: 0 0 0 10px rgba(4,87,87, 0.4);
}

.cardlsider__leftbtn{
    left: -15px;
    padding-left: 10px;
}

.cardlsider__leftbtn > svg, .cardlsider__rightbtn > svg{
    transition: all 0.3s ease-in-out;
}

.cardlsider__leftbtn:hover > svg{
    transform: translateX(-5px);
}

.cardlsider__rightbtn{
    right: -15px;    
}

.cardlsider__rightbtn:hover > svg{
    transform: translateX(5px);
}