
/* ................................................ */
/* Movie Page Video Section */
.detail__video_section{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-bottom: 2px solid var(--black);
}

.detail__video_div{
    width: 100%;
    height: 50px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.detail__video_select, .detail__message{
    font-family: var(--fredoka);
    width: 80%;
    height: 40px;
    font-size: 0.7rem;
    color: var(--white);
    outline: none;
    border: none;
    background-color: var(--dark);
    padding: 0 1rem;
}

/* season changes */
.detail__video_season_div{
    width: 100%;
    height: auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
}

.detail__video_season_selectors{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail__video_season_info{
    width: 100%;
    min-height: 200px;
    padding: 0 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--fredoka);
    font-size: 0.8rem;
    color: var(--white);
}

.detail__video_season_info img{
    width: 55%;
    height: 250px;
}

.detail__message{
    display: flex;
    align-items: center;
}
.season__overview{
    text-align: justify;
}

@media screen and (min-width: 850px) {
    .detail__video_section{
        padding: 1rem 5rem;
    }

    .detail__video_div{
        height: 60px;
    }

    .detail__video_select{
        width: 70%;
        height: 70%;
        font-size: 1rem;
        padding: 0 1rem;
        cursor: pointer;
    }
    /* seasons */

    .detail__video_season_div{
        flex-direction: row;
        align-items: center;
    }
    
    .detail__video_season_info{
        width: 60%;
        padding: 1rem;
        min-height: 200px;
        font-size: 1rem;
        flex-direction: row;
        background-color: #000;
        /* justify-content: center; */
    }
    
    .detail__video_season_info img{
        width: 200px;
        height: 300px;
    }

    .detail__video_season_selectors{
        width: 40%;
        padding: 0 1rem;
    }

    .detail__message{
        width: 100%;
    }
}