.popular_section h1{
    font-family: var(--share);
    font-size: 2rem;
    color: var(--teal);
    display: flex;
    gap: 0.7rem;
    margin: 0;
}

.popular_section h1 span{
    font-family: var(--fredoka);
    font-size: 1.1rem;
    color: var(--white);
    display: flex;
    gap: 0.3rem;
    align-items: center;
}