.slider {
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

.slider__carousel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.carousel__shadows {
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 15%, rgba(1, 2, 2, 0.6951155462184874) 30%, rgba(15, 32, 39, 0.09007352941176472) 55%);
}

.carousel__shadows::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: #000;
    background: linear-gradient(to bottom, #000, transparent);
    z-index: 500;
}

.carousel__shadows::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #000;
    background: linear-gradient(to top, #000, transparent);
    z-index: 500;
}

.slider__buttons {
    position: absolute;
    z-index: 700;
    color: aliceblue;
    bottom: 0;
    right: 2rem;
    display: flex;
    gap: 1rem;
}

.slider__buttons_btn {
    outline: none;
    border: 2px solid var(--teal);
    border-radius: 100%;
    background-color: var(--dark);
    width: 50px;
    height: 50px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider__buttons_btn:first-child {
    padding-left: 10px;
}

/* Slide Item */
.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.slider__img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    float: right;
}

.slide__content {
    width: 80%;
    position: absolute;
    z-index: 800;
    top: 70%;
    transform: translateY(-50%);
    left: 2rem;
}

.slide__title,
.slide__overview {
    color: var(--white);
    text-shadow: 5px 5px 5px var(--dark);
    margin-bottom: 10px;
}

.slide__title {
    font-family: var(--share);
    font-size: 2rem;
    font-weight: 600;
}

.slide__overview {
    width: 100%;
    font-family: var(--fredoka);
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-shadow: 5px 5px 5px #000; */
}

.slide__content_button {
    width: 150px;
    height: 50px;
    background-color: var(--dark);
    outline: none;
    border: 2px solid var(--teal);
    cursor: pointer;
    font-family: var(--fredoka);
    font-size: 1.1rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (min-width: 700px) {
    .slider__img {
        object-fit: fill;
    }

    .slide__content {
        width: 60%;
        top: 50%;
        transform: translateY(-50%);
        left: 5rem;
    }

    .slide__title {
        font-size: 4rem;
    }
    .slide__overview {
        width: 70%;
    }

    .slide__content_button {
        width: 200px;
        font-size: 1.3rem;
        transition: all 0.3s ease-in-out;
        margin-top: 20px;
    }

    .slide__content_button:hover {
        background-color: var(--black);
    }

    .slider__buttons {
        right: 5rem;
        gap: 2rem;
    }

    .button_left svg,
    .button_right svg {
        transition: all 0.3s ease-in-out;
    }

    .button_left:hover>svg {
        transform: translateX(-5px);
    }

    .button_right:hover>svg {
        transform: translateX(5px);
    }
}